/*Action buttons*/
#action-selection {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 38%;
    font-size: 1rem;
    margin: auto;
    
    > label > span {
        display: none;
    }
    // First action button label styles
    label:nth-child(2) {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    // Last action button lable style
    label:nth-child(8) {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}