<form>
  <input type="text" name="pname" id="person-name" value="{{name}}" placeholder="Enter Full Name">
  <label for="person-name">Name:</label>
  <input type="number" name="age" id="person-age" value="{{age}}" placeholder="Enter age" min="16">
  <label for="person-age"></label>
  <select id="person-gender">
    <option value="male" {{#if_eq gender "male"}}selected{{/if_eq}}>male</option>
    <option value="female" {{#if_eq gender "female"}}selected{{/if_eq}}>female</option>
  </select>
  {{#if addNew}}
  <button id="add-person-btn">Add New </button>
  {{else}}
  <button id="edit-person-btn">Edit Existing</button>>
  {{/if}}
</form>