<input type="radio" id="add-person-btn" name="action buttons" class="selected">
<label for="add-person-btn">Add New Person</label>
<input type="radio" id="edit-person-btn" name="action buttons">
<label for="edit-person-btn">Edit Person</label>
<input type="radio" id="remove-person-btn" name="action buttons">
<label for="remove-person-btn">Remove Person</label>
<input type="radio" id="view-all-btn" name="action buttons" checked>
<label for="view-all-btn">View All</label>